
MovieToGoAPI/MovieToGoAPI/appsettings.json
MovieToGoAPI/MovieToGoAPI/Properties/PublishProfiles/MovieToGoAPI20220130162401 - Web Deploy.pubxml
MovieToGoAPI/MovieToGoAPI/Properties/serviceDependencies.json
MovieToGoAPI/MovieToGoAPI/Properties/serviceDependencies.MovieToGoAPI20220130162401 - Web Deploy.json
MovieToGoAPI/MovieToGoAPI/Properties/ServiceDependencies/MovieToGoAPI20220130162401 - Web Deploy/mssql1.arm.json
MovieToGoAPI/MovieToGoAPI/Properties/ServiceDependencies/MovieToGoAPI20220130162401 - Web Deploy/profile.arm.json
