/* Container holding the image and the text */
.container {
  position: relative;
  text-align: left;
  color: white;
}
  
/* Bottom left text */
.bottom_left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top_left {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: 16px;
}

/* Top right text */
.top_right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom_right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerImgoverlaytitle {
  font-size: 4.4vw;
  font-weight: bold;
  padding-bottom: 0.5vw;
  border-bottom: 0.7vw solid #d8a860;
}

.headerImgoverlaydesc {
  font-size: 3.2vw;
  text-align: justify;
  font-weight: lighter;
  padding-top: 2vw;
}